@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
    font-size: 62.5%;
}

/* all similar content styling codes */
section{
    padding: 80px 0;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
.about, .skills, .projects, .education, .contact, footer{
    font-family: 'Poppins', sans-serif;
}

.about .about-content,
.skills .skills-content,
.contact .contact-content,
.projects .project-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

section .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}
section .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    height: 3px;
    transform: translateX(-50%);
}
section .title::after{
    position: absolute;
    bottom: -8px;
    left: 50%;
    font-size: 20px;
    color: crimson;
    padding: 0 5px;
    transform: translateX(-50%);
}

/* navbar stylling */
.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
}

.navbar.sticky{
    padding: 15px 0;
    background: crimson;
}

.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}

.navbar .logo a span{
    color: crimson;
    transition: all 0.3s ease;
}

.navbar.sticky .logo a span{
    color: #fff;
}

.navbar .menu li{
    list-style: none;
    display: inline-block;
}

.navbar .menu li a{
    display: block;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
    padding: 1rem;
}

.navbar .menu li a:hover{
    color: crimson;
    text-decoration: underline;
}

.navbar.sticky .menu li a:hover{
    color: #fff;
    text-decoration: underline;
}

/* menu btn styling */
.menu-btn{
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

/* home section styling */
.home{
    display: flex;
    background: url("../images/bg1.jpg") no-repeat center;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
}
.home .max-width{
  width: 100%;
  display: flex;
}

.home .home-content .text-1{
    font-size: 27px;
}
.home .home-content .text-2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}
.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
}
.home .home-content .text-3 span{
    color: yellow;
    font-weight: 500;
}
.home .home-content a{
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    font-weight: 400;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}
.home .home-content a:hover{
    color: crimson;
    background: none;
}

/* about section styling */

.about .title::before{
    background: #111;
    width: 150px;
}

.about .title::after{
    content: "who i am";
    background: #fff;
}

.about .about-content .left{
    width: 45%;
}
.about .about-content .left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
}
.about .about-content .right{
    width: 55%;
}
.about .about-content .right .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}
.about .about-content .right .text span{
    color: crimson;
}
.about .about-content .right p{
    text-align: justify;
    font-size: 18px;
}
.about .about-content .right a{
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}
.about .about-content .right a:hover{
    color: crimson;
    background: none;
}


/* skills section styling */

.skills .title::before{
    background: #111;
    width: 150px;
}

.skills .title::after{
    content: "what i know";
    background: #ebecf0;
}
.skills{
    background-color: #ebecf0;
    width: 100%;
}
.skills .main-skill{
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 3rem;
    
}

.skills .morph{
    border: 2px solid transparent;
    background: linear-gradient(160deg, #f0f1f4 0%, #e4e6eb 100%);
    box-shadow: -3px -3px 6px 2px #ffffff, 5px 5px 8px 0px rgba(0, 0, 0, 0.17), 1px 2px 2px 0px rgba(0, 0, 0, 0.1);
    transition: 0.1s;
  }
  .skills .morph:hover, 
  .morph:focus {
      cursor: pointer;
    border: 2px solid #fafafa;
    outline:none;
    box-shadow: inset -3px -3px 5px 0px #ffffff, -1px -1px 4px 0px #ffffff, inset 5px 5px 10px 0px rgba(0, 0, 0, 0.12), inset 2px 2px 3px 0px rgba(0, 0, 0, 0.07), 1px 2px 3px 0px rgba(0, 0, 0, 0.1);
  }

  .skills .btn-square{
    width: 100%;
    height: 10rem;
    line-height: 10rem;
    margin-top: 2rem;
    text-align: center;
    border-radius: 2rem;
    font-size: 5rem;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(to right, red, blue, red, blue);
  }





/* project section start */

.projects .title::before{
    background: #111;
    width: 170px;
}

.projects .title::after{
    content: "what i build";
    background: #fff;
}

.projects .project-content{
    padding: 0rem 0;
}

.projects .project-content .box{
    cursor: pointer;
    position: relative;
    margin-bottom: 60px;
}

.projects .project-content .box .child-box{
    height: 35rem;
    width: 55rem;
}

.projects .project-content .box .child-box img{
    height:100%;
    width:100%;
    object-fit: cover;
    object-position: center;
}

.projects .project-content .box a{
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 16px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
    position: absolute;
    right: 0px;
}

.projects .project-content .box .child-box:hover img{
    transform: rotate(-5deg);
    transition: all 0.5s ease-in;
}

.projects .project-content .box a:hover{
    color: crimson;
    background-color: #fff;
    border: 2px solid crimson;
}



/* education section start */

.education{
    background-color: #111;
    color: #fff;
}

.education .title::before{
    background: #fff;
    width: 180px;
}

.education .title::after{
    content: "what i study";
    background: #111;
}

.education .education-content .box1{
    float: left;
}

.education .education-content .box2{
    float: right;
}

.education .education-content .box3{
    clear: both;
}

.education .education-content .box{
    width:40rem;
    margin:5rem 0rem;
    padding-left: 5rem;
    border-left: .4rem solid #fff;
    position: relative;
}

.education .education-content .box span{
    font-size: 2.1rem;
    font-weight: 500;
    background:#333;
    color:#fff;
    border-radius: 5rem;
    padding:.5rem 2.5rem;
}

.education .education-content .box h6{
    font-size: 2.4rem;
    color: gold;
    padding-top: 1rem;
    font-weight: 500;
}

.education .education-content .box p{
    font-size: 1.7rem;
    padding: 0.5rem 0;
    text-transform: capitalize;
    font-weight: 100;
}

.education .education-content .box i{
    position: absolute;
    top:-2.5rem; left:-2.5rem;
    height:5rem;
    width: 5rem;
    border-radius: 50%;
    line-height: 5rem;
    text-align: center;
    font-size: 2rem;
}



/* contact section styling */

.contact .title::before{
    background: #111;
    width: 170px;
}

.contact .title::after{
    content: "get in touch";
    background: #fff;
}
.contact .contact-content .column{
    width: calc(50% - 30px);
}
.contact .contact-content .text{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
}
.contact .contact-content .left p{
    text-align: justify;
}
.contact .contact-content .left .icons{
    margin: 10px 0;
}
.contact .contact-content .row{
    display: flex;
    height: 65px;
    align-items: center;
}
.contact .contact-content .row .info{
    margin-left: 30px;
}
.contact .contact-content .row i{
    font-size: 25px;
    color: crimson;
}
.contact .contact-content .info .head{
    font-size: 17px;
    font-weight: 600;
    color: crimson;
}
.contact .contact-content .info .sub-title{
    font-size: 16px;
    color: #333;
}
.contact .right form .field,
.contact .right form .fields .field{
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}
.contact .right form .textarea{
    height: 120px;
    width: 100%;
}
.contact .right form .name{
    margin-right: 10px;
}
.contact .right form .field input,
.contact .right form .textarea textarea{
    height: 100%;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s ease;
}
.contact .right form .field input:focus,
.contact .right form .textarea textarea:focus{
    border-color: #b3b3b3;
}
.contact .right form .textarea textarea{
  padding-top: 10px;
  resize: none;
}
.contact .right form .button-area{
  display: flex;
  align-items: center;
}
.right form .button-area button{
  color: #fff;
  display: block;
  width: 160px!important;
  height: 45px;
  outline: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  flex-wrap: nowrap;
  background: crimson;
  border: 2px solid crimson;
  transition: all 0.3s ease;
}
.right form .button-area button:hover{
  color: crimson;
  background: none;
}


/* footer section styling */
footer{
    font-size: 1.9rem;
    background: #111;
    padding: 15px 23px;
    color: #fff;
    text-align: center;
}
footer span a{
    color: crimson;
    text-decoration: none;
}
footer span a:hover{
    text-decoration: underline;
}





/* responsive media query start */

@media (max-width: 1280px) {

    .projects .project-content{
        flex-direction: column;
    }
    .projects .project-content .box .child-box{
        width: auto;
    }
    .projects .project-content .box .child-box img{
        max-width: 100%;
    }
}

@media (max-width: 1104px) {

    .about .about-content .left img{
        height: 350px;
        width: 350px;
    }

    .skills .btn-square{
        font-size: 4rem;
        height: 8rem;
        line-height: 8rem;
    }

    .projects .project-content{
        flex-direction: column;
    }
    .projects .project-content .box .child-box{
        width: auto;
    }
    .projects .project-content .box .child-box img{
        max-width: 100%;
    }
}

@media (max-width: 991px) {

    .max-width{
        padding: 0 50px;
    }

    .projects .project-content .box .child-box{
        width: auto;
    }
    .projects .project-content .box .child-box img{
        max-width: 100%;
    }
}

@media (max-width: 947px){

    .menu-btn{
        display: block;
        z-index: 999;
    }
    .menu-btn i.active:before{
        content: "\f00d";
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: linear-gradient(to right bottom,green,red);
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 12px 0;
        font-size: 25px;
        background: #999;
        box-shadow:  -3px -3px 4px #fff,  3px 3px 4px #fff;
        text-shadow: -1px -1px 28px #fff,  1px 1px 28px #fff;
        border-radius: 50%;
        color: #111;
    }
    .home .home-content .text-2{
        font-size: 70px;
    }
    .home .home-content .text-3{
        font-size: 35px;
    }
    .home .home-content a{
        font-size: 23px;
        padding: 10px 30px;
    }
    .max-width{
        max-width: 930px;
    }
    .about .about-content .column{
        width: 100%;
    }
    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .right{
        flex: 100%;
    }

    .skills .main-skill{
        grid-template-columns: repeat(2, 1fr);
    }

    .contact .contact-content .column{
        width: 100%;
        margin-bottom: 35px;
    }

    .projects .project-content .box .child-box{
        width: auto;
    }
    .projects .project-content .box .child-box img{
        max-width: 100%;
    }
}

@media (max-width: 690px) {

    .navbar .menu{
        height: 100vh;
        width: 100%;
    }
    .max-width{
        padding: 0 23px;
    }
    .home .home-content .text-2{
        font-size: 60px;
    }
    .home .home-content .text-3{
        font-size: 32px;
    }
    .home .home-content a{
        font-size: 20px;
    }

    .skills .btn-square{
        font-size: 3.5rem;
    }

    .projects .project-content .box .child-box{
        width: auto;
        height: auto;
    }

    .education .education-content{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .projects .project-content .box .child-box{
        width: auto;
    }
    .projects .project-content .box .child-box img{
        max-width: 100%;
    }

}

@media (max-width: 500px) {
    .home .home-content .text-2{
        font-size: 50px;
    }
    .home .home-content .text-3{
        font-size: 27px;
    }
    .about .about-content .right .text{
        font-size: 19px;
    }

    .skills .main-skill{
        grid-template-columns: repeat(1, 1fr);
    }

    .contact .contact-content .info .sub-title{
        font-size: 15px;
    }

    .contact .right form .fields{
        flex-direction: column;
    }
    .contact .right form .name,
    .contact .right form .email{
        margin: 0;
    }

    .projects .project-content .box .child-box{
        width: auto;
    }
    .projects .project-content .box .child-box img{
        max-width: 100%;
    }

    .education .education-content{
        display: flex;
        align-items: flex-start;
        justify-content: left;
        flex-direction: column;
    }
    .education .education-content .box{
        width:31rem;
        margin:3rem 0rem;
        padding-left: 3rem;
        border-left: .4rem solid #fff;
    }
    
    .education .education-content .box span{
        font-size: 1.5rem;
    }
    
    .education .education-content .box h6{
        font-size: 2.0rem;
    }
    
    .education .education-content .box p{
        font-size: 1.5rem;
    }

}